p {
    font-family: 'poppins';
    font-size: var(--p);
    line-height: 145%;
}

h1 {
    font-family: var(--playfair);
    font-size: var(--heading-1);
    font-weight: 800;
}

h2 {
    font-family: var(--poppins);
    font-size: var(--heading-2);
    font-weight: 700;
}

h3 {
    font-family: var(--poppins);
    font-size: var(--heading-3);
    font-weight: 700;
    text-transform: uppercase;
}

a {
    color: var(--noir);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    margin: 0;
}

.main {
    padding: 20px;
}

.noScroll,
.noScroll body {
    overflow: hidden;
}