img {
    max-width: 100%;
    width: 100vw;
    height: auto;
}

.home__img {
    max-height: 30%;
    max-width: auto;
}

.img__chevron {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    width: 40px;
    height: 40px;
}