.artist__presentation {
    margin-top: 90px;
}

.artist__presentation h1 {
    text-align: center;
}

.artist_title + h1{
    align-items: center;
}

.artist__img {
    margin: 0 10% 30px 10%;
    width: 80%;
    height: auto;
    border-radius: 50%;
}

.artiste__presentation--title {
    font-weight: 700;
}

.frise__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frise__info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding-left: 15px;
}

.frise__img {
    width: 200px;
    height: 200px;
}
