.artwork {
    margin-top: 90px;
}

.artwork ::before{
    content: "";
    position: absolute;
    top: 180px;
    right: 0px;
    width: 100px;
    height: 200px;
    background-color: var(--beige);
    z-index: -1;
}

.work {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px 0;
}

.work__date {
    display: flex;
    justify-content: center;
    font-size: var(--date-oeuvres);
    color: var(--beige);
}

.work__title {
    display: flex;
    justify-content: center;
}
